<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>
  
  <div class="container">
    <% questions.forEach(question => { %>
      div.carddiv.card-body  
      <h5><%= question.title %></h5>

      <p><%= question.description %></p>
        
    <% }); %>
  </div>
</body>
<%- include ('partials/footer') %>
