<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>
  
  <div class="container">
    <br>
    <% questions.forEach(question => { %>
      <div class="card">
        <div class="card-body">
          <h5><a href="/question/<%= question.id %>" id="quest-title"><%= question.title %></a></h5>
          <!-- <p><%= question.description %></p> -->
        </div>
        <div class="card-footer">
          <a href="/question/<%= question.id %>" class="btn btn-primary">Answer</a>
        </div>
      </div>
      <hr>
    <% }); %>
    <a href="/Question" class="btn btn-dark" id="Question-q">Question a question</a>
  </div>
</body>
<%- include ('partials/footer') %>
