<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>

  <div class="container">
    <hr />
    <h1><%= question.title %></h1>
    <h6><%= question.description %></h6>
    <hr />
    <form>
      <br>
      <h4>Answer:</h4>
      <textarea
        placeholder="Type your answer here"
        class="form-control"
        name="body"
        id="resp"
      ></textarea>
      <br>
      <input type="hidden" name="question" value="<%= question.id %>">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
<%- include ('partials/footer') %>
