<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>

  <div class="container">
    <hr />
    <h1><%= question.title %></h1>
    <h5><%= question.description %></h5>
    <hr />
    <form>
      <h3>Answer the question</h3>
      <textarea
        placeholder="Type your answer here"
        class="form-control"
        name="body"
      ></textarea>
      <button type="submit" class="btn btn-success">Send</button>
    </form>
  </div>
</body>
<%- include ('partials/footer') %>
