<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>
  
  <div class="container">
  <hr>
  <h1><%= question.title %></h1>
  <h5><%= question.description %></h5>
  <hr>
  </div>
</body>
<%- include ('partials/footer') %>
